body {
    width: 850px;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

main {
    margin: 0 auto;
    margin-bottom: 25px;
    background-image: url(./space.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    font-size: 30px;
}

section {
    background-color: #e6e6e6;
    height: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

article {
   width: 270px;
   height: 374px;
   padding-left: 20px;
}

h1 {
    color: white;
}

h2 {
    font-size: 18px;
}

.button {
    color: white;
    background-color: #4d4d4d;
    font-family: 'Titillium Web', sans-serif;
}
